<div class="wrapped">
    <div>
        <center>
            <h1 class="google">404</h1>
            <span class="text-xl">This page was both, found and not found.</span>
            <blockquote class="text-xl leading-tight text-gray-600" style="margin-top: 2rem;">Want to shorten a link
                instead?</blockquote>
            <a href="/">
                <button class="py-2 px-4 rounded bg-teal-500 text-white">
                    Shorten
                </button>
            </a>
        </center>
    </div>
</div>