<div class="wrapped">
  <div>
    <center>
      <h1 class="google">Poxy</h1>
      <form class="w-full max-w-sm" method="POST" action="/shorten">
        <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
          <input
            class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
            type="text" placeholder="Cmon' shrink something here?" aria-label="Link" name="link">
          <button
            class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
            type="submit">
            Shorten
          </button>
        </div>
        <br>
        {{#if link_msg}}
        <span>{{link_msg}}</span>
        {{/if}}
      </form>
    </center>
  </div>
</div>